<header class="bg-indigo-400 p-4">
    <div class="mx-auto flex justify-between items-center flex-wrap ">
        <a href="/products" class="text-4xl text-center font-medium font-mono">BookStore</a>
        <nav>
            <a href="/auth/logout" class= "py-3 pl-3 pr-10">Cerrar sesion</a>
        </nav>
    </div>
</header>
<main>
    <h3 class="text-4xl text-center my-5">{{titlePage}}</h3>
</main>