<header class="bg-indigo-400 p-4">
    <div class="mx-auto flex justify-between items-center flex-wrap ">
        <a href="/products" class="text-4xl text-center font-medium font-mono">BookStore</a>
        <nav>
            <a class= "py-3 px-3" href="/admin">Administrador</a>
            <a class= "py-3 px-3" href="/products">Inicio</a>
            {{#if usuario}}
            <a href="/auth/logout" class= "py-3 pl-3 pr-10">Cerrar sesion</a>
            {{else}}
            <a href="/auth/login" class= "py-3 pl-3 pr-10">Iniciar sesion</a>
            {{/if}}
        </nav>
    </div>
</header>

<main>
    <h3 class="text-4xl text-center font-light my-5">{{titlePage}}</h3>
    {{#if carrito}}
    {{#each carrito}}        
                <div class=" flex-column justify-between items-center flex-wrap m-10 space-y-4 p-8 pt-5 px-20 shadow-lg">
                    <div class="font-mono text-center text-sm font-medium">Orden: {{this._id}}</div>
                </div>
        {{/each}}
    {{else}}
    <h3 class="text-4xl text-center font-semibold">No se encontro el carrito</h3>
    {{/if}}
</main>