<header class="bg-indigo-800 p-4">
    <div class="mx-auto flex justify-between items-center flex-wrap h-20">
        <a href="/products"><img src="/static/logo/logo2.png" alt="Logo del comercio"  class="h-20"></a>
        <nav class="">
            <a class= "py-3 px-3 text-red-100" href="/admin">Administrador</a>
            <a class= "py-3 px-3 text-red-100" href="/carts">Carrito</a>
            {{#if usuario}}
            <a href="/auth/logout" class= "py-3 pl-3 pr-10 text-red-100">Cerrar sesion</a>
            {{else}}
            <a href="/auth/login" class= "py-3 pl-3 pr-10 text-red-100">Iniciar sesion</a>
            {{/if}}
        </nav>
    </div>
</header>

<main>
    <h3 class="text-4xl text-center font-light my-5">{{nombrePagina}}</h3>
    {{#if carrito}}
    {{#each carrito}}        
                <div class=" flex-column justify-between items-center flex-wrap m-10 space-y-4 p-8 pt-5 px-20 shadow-lg">
                    <div class="font-mono text-center text-sm font-medium">Orden: {{this._id}}</div>
                </div>
        {{/each}}
    {{else}}
    <h3 class="text-xl text-center font-semibold">Todavía no agregaste nada al carrito</h3>
    {{/if}}
</main>