<h1 class="text-4xl text-center font-semibold mt-10">{{titlePage}}</h1>
<div class="mt-5 mx-auto max-w-md my-5">
    <div class="bg-white py-3 px-4.shadow">
        <form method="POST" >
                <label class="block text-sm text-gray-800 mb-2" for="name">Ingresa tu email</label>
                <input type="email" id="email" name="email" placeholder="Ej. correo@corre.com" class="w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-400">
            </div>
            <div>
                <label class="block text-sm text-gray-800 mb-2" for="name">Ingresa tu contraseña</label>
                <input type="password" id="password" name="password" class="w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-400">
            </div>
            <div class="flex items-left">
                <a href="/auth/olvidePass" class="text-gray-600 text-xs underline">Olvide mi contraseña</a>
            </div>
            <input type="submit" value="Ingresar" class="w-full bg-indigo-600 hover:bg-indigo-700 text-white rounded-md py-2 px-5 cursor-pointer my-5">
            <div class="flex items-left">
                <p class="text-gray-500 text-xs mr-2">Todavía no tenes una cuenta?</p>
                <a href="/auth/register" class="text-gray-600 text-xs underline">Registrate</a>
            </div>
            <div class="mt-2 mx-auto my-5 flex items-center">
                <a href="/auth/github" class="w-full text-center text-indigo-600 hover:bg-indigo-200 rounded-md py-1 px-5 cursor-pointer my-5 border border-indigo-600">Ingresar con Github</a>
            </div>
        </form>
    </div>
</div>
<script src="/static/js/session.js"></script>