<h1>Products Real Time</h1>
<div>
    <div id="products"></div>
    <p>.</p>
    <form id="form">
        <label>Title: <input type="text" id="title" name="title"></label>
        <label>Description: <input type="text" id="description" name="description"></label>
        <label>Price: <input type="number" id="price" name="price"></label>
        <label>Thumbnail: <input type="text" id="thumbnail" name="thumbnail"></label>
        <label>Code: <input type="text" id="code" name="code"></label>
        <label>Stock: <input type="number" id="stock" name="stock"></label>
        <label>category: <input type="text" id="category" name="category"></label>
        <button type="submit" id="button">Enviar</button>
    </form>
    <div><p> . </p></div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/static/js/realTimeProds.js"></script>