<h1 class="text-4xl text-center font-semibold">{{titlePage}}</h1>
<div class="mt-5 mx-auto my-5 text-center">{{mensaje}}</div>

<a href="/api/products" class="text-gray-600 text-xs underline text-center mx-auto">Ir a inicio</a>
